@page
@model IndexModel
@{
    
}
<!DOCTYPE html>
<html>
    <head>
       
   A Great Song By A Friend
</head>
    <body>
    <div Id="Artist" class=" text-center">
    <h1 class="disple-4 blue-text">Brent Lee</h1>
    
  <p>" Blue Skies"</p>

    
        </div>
   
<div>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/eo4Gx-MiZyA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
</div>
</body>
</html>